<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.x-o-r-r-o.alfred.enpass</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1A1A878C-0CE7-5264-8519-9297714894D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6A0C2B4-2E3A-5C26-9791-3AA52B9BD8BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3804FC4B-E3B0-5124-94DD-D39E4ABBDA3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71412767-89C8-5634-A0B3-182DE570385C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FB01207-C481-50CF-A8B9-3AD6E489EF85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>845D5799-7010-5593-9F0A-865A850F52D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71412767-89C8-5634-A0B3-182DE570385C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C330C613-7948-5BB1-9B65-752283A9FCBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C330C613-7948-5BB1-9B65-752283A9FCBC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C330C613-7948-5BB1-9B65-752283A9FCBC</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C330C613-7948-5BB1-9B65-752283A9FCBC</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C330C613-7948-5BB1-9B65-752283A9FCBC</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C330C613-7948-5BB1-9B65-752283A9FCBC</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>845D5799-7010-5593-9F0A-865A850F52D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B318B6CA-D75B-57E1-9229-3E8FFABB7917</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B318B6CA-D75B-57E1-9229-3E8FFABB7917</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>994738EE-F4B2-5F4D-BCBF-97A7397822E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C330C613-7948-5BB1-9B65-752283A9FCBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A1A878C-0CE7-5264-8519-9297714894D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>185DFF32-CCD6-5421-85E7-E23B1FAA471C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B318B6CA-D75B-57E1-9229-3E8FFABB7917</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6A0C2B4-2E3A-5C26-9791-3AA52B9BD8BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B318B6CA-D75B-57E1-9229-3E8FFABB7917</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B318B6CA-D75B-57E1-9229-3E8FFABB7917</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B318B6CA-D75B-57E1-9229-3E8FFABB7917</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B318B6CA-D75B-57E1-9229-3E8FFABB7917</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B318B6CA-D75B-57E1-9229-3E8FFABB7917</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B318B6CA-D75B-57E1-9229-3E8FFABB7917</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>x-o-r-r-o</string>
	<key>description</key>
	<string>Search your Enpass vault and copy passwords, usernames and one-time codes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Enpass</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Unlocking vault…</string>
				<key>script</key>
				<string>./enpass.js list "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Copy passwords, usernames and one-time codes</string>
				<key>title</key>
				<string>Search Enpass</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71412767-89C8-5634-A0B3-182DE570385C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3804FC4B-E3B0-5124-94DD-D39E4ABBDA3C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Search Enpass</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>4FB01207-C481-50CF-A8B9-3AD6E489EF85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fields</string>
						<key>outputlabel</key>
						<string>Show fields</string>
						<key>uid</key>
						<string>185DFF32-CCD6-5421-85E7-E23B1FAA471C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Run action</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C330C613-7948-5BB1-9B65-752283A9FCBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1A1A878C-0CE7-5264-8519-9297714894D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading fields…</string>
				<key>script</key>
				<string>./enpass.js fields "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Copy any field of the entry</string>
				<key>title</key>
				<string>Entry fields</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E6A0C2B4-2E3A-5C26-9791-3AA52B9BD8BC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>search</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>845D5799-7010-5593-9F0A-865A850F52D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./enpass.js act "${1}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B318B6CA-D75B-57E1-9229-3E8FFABB7917</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:notif_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>994738EE-F4B2-5F4D-BCBF-97A7397822E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search your [Enpass](https://www.enpass.io) vault via the `enp` keyword. Type to filter by title, username, category or website.

* &lt;kbd&gt;↩&lt;/kbd&gt; Copy password (or paste it, as set in the Workflow’s Configuration).
* &lt;kbd&gt;fn&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Do the opposite: paste instead of copy, or copy instead of paste.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy username.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy one-time code.
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open website.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Show all fields of the entry.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;Y&lt;/kbd&gt; Quick Look website.

In the fields list, &lt;kbd&gt;↩&lt;/kbd&gt; copies a field, &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; pastes it and &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; opens a website field. Type `lock` to forget the saved master password.

Copied values are hidden from clipboard managers, including Alfred’s Clipboard History, and the clipboard is cleared after 30 seconds unless you copied something else in the meantime.

Alternatively, search Enpass for selected text or a website’s domain via the Universal Action.

Configure the Hotkey to open the search directly.

## Setup

The first search asks for your Enpass master password. It is checked against the vault and saved in your macOS Keychain. If your vault uses a keyfile, choose it in the Workflow’s Configuration.

The vault is read with [enpass-cli](https://github.com/hazcod/enpass-cli) and never modified. This workflow isn’t affiliated with Enpass and was built with the help of an AI assistant (Claude).
</string>
	<key>uidata</key>
	<dict>
		<key>1A1A878C-0CE7-5264-8519-9297714894D5</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>3804FC4B-E3B0-5124-94DD-D39E4ABBDA3C</key>
		<dict>
			<key>note</key>
			<string>Set a hotkey to search Enpass</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>4FB01207-C481-50CF-A8B9-3AD6E489EF85</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>71412767-89C8-5634-A0B3-182DE570385C</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>845D5799-7010-5593-9F0A-865A850F52D8</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>994738EE-F4B2-5F4D-BCBF-97A7397822E7</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>B318B6CA-D75B-57E1-9229-3E8FFABB7917</key>
		<dict>
			<key>note</key>
			<string>Copies or pastes the chosen value, opens websites, stores the master password</string>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>C330C613-7948-5BB1-9B65-752283A9FCBC</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>E6A0C2B4-2E3A-5C26-9791-3AA52B9BD8BC</key>
		<dict>
			<key>note</key>
			<string>Fields of the entry chosen with ⇧↩</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>enp</string>
				<key>placeholder</key>
				<string>enp</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to search your vault.</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Containers/in.sinew.Enpass-Desktop/Data/Documents/Vaults/primary</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>In Enpass: Settings → Advanced → Data Location, then the folder of the vault (usually “primary”).</string>
			<key>label</key>
			<string>Vault Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>vault_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Only if the vault is protected with a keyfile.</string>
			<key>label</key>
			<string>Keyfile</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>keyfile_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>copy</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Copy to clipboard</string>
						<string>copy</string>
					</array>
					<array>
						<string>Paste into frontmost app</string>
						<string>paste</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>What ↩ does with a password or field. fn↩ does the other.</string>
			<key>label</key>
			<string>Action</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>default_action</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>30</string>
				<key>pairs</key>
				<array>
					<array>
						<string>After 10 seconds</string>
						<string>10</string>
					</array>
					<array>
						<string>After 20 seconds</string>
						<string>20</string>
					</array>
					<array>
						<string>After 30 seconds</string>
						<string>30</string>
					</array>
					<array>
						<string>After 45 seconds</string>
						<string>45</string>
					</array>
					<array>
						<string>After 60 seconds</string>
						<string>60</string>
					</array>
					<array>
						<string>After 90 seconds</string>
						<string>90</string>
					</array>
					<array>
						<string>Never</string>
						<string>0</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Only cleared if you haven’t copied something else in the meantime.</string>
			<key>label</key>
			<string>Clear Clipboard</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>clear_after</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Include entries in the Enpass trash</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Trash</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_trashed</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>/opt/homebrew/bin/enpass-cli</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Leave empty to find it in /opt/homebrew/bin or /usr/local/bin.</string>
			<key>label</key>
			<string>enpass-cli Path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>enpass_cli</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/x-o-r-r-o/alfred-enpass</string>
</dict>
</plist>
